<div class="overflow-x-auto">
  <table class="table table-compact w-full text-left">
    <!-- Table Header -->
    <thead>
    <tr>
      <th scope="col">
        First Name
      </th>
      <th scope="col">
        Last Name
      </th>
      <th scope="col">
        Department
      </th>
      <th scope="col" class="text-right">
        Action
      </th>
    </tr>
    </thead>
    <tbody>
    <!-- Regular User -->
    <tr>
      <td>
        <input type="text" placeholder="Search" class="input input-bordered input-sm w-full" />

      </td>
      <td>
        <input type="text" placeholder="Search" class="input input-bordered input-sm w-full" />

      </td>
      <td>        <input type="text" placeholder="Search" class="input input-bordered input-sm w-full" />
      </td>
    </tr>
    <tr *ngFor="let data of  userProfileList$ | async">
      <td>{{data?.first_name}}</td>
      <td>{{data?.last_name}}</td>
      <td>{{data?.department}}</td>
      <td class="text-right">
        <button class="btn btn-sm">Edit</button>
      </td>
    </tr>
    <tr>
      <td tabindex="0">John</td>
      <td tabindex="0">Doe</td>
      <td tabindex="0">Engineering</td>
      <td class="text-right">
        <button class="btn btn-sm">Edit</button>
      </td>
    </tr>
    <!-- Admin User (Highlighted) -->
    <tr class="bg-yellow-100">
      <td tabindex="0">Jane</td>
      <td tabindex="0">Smith</td>
      <td tabindex="0">HR</td>
      <td class="text-right">
        <button class="btn btn-sm">Edit</button>
      </td>
    </tr>
    <!-- Another Regular User -->
    <tr>
      <td tabindex="0">Emily</td>
      <td tabindex="0">Johnson</td>
      <td tabindex="0">Marketing</td>
      <td class="text-right">
        <button class="btn btn-sm">Edit</button>
      </td>
    </tr>
    </tbody>
  </table>

  <!-- Pagination -->
  <div class="flex justify-between items-center mt-4">
    <div class="flex flex-row gap-3">
      <button class="btn btn-sm">Previous</button>
      <button class="btn btn-sm ">Next</button>
    </div>
    <div>
      <span>Page 1 of 10</span>
    </div>
  </div>
</div>
