<div class="flex flex-col h-full">
  <ng-container *ngIf="dataList$ |  async as dataList">
  <div class="grow">
  <table class="table table-compact w-full text-left">
    <thead>
    <tr>

      <th *ngFor="let h of columns" scope="col" [class]="h.className">
        {{h.header}}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td *ngFor="let h of columns">
        <input *ngIf="h.searchable" type="text"
               (keyup)="h?.handleEvent? h?.handleEvent($event,h,'search'):undefined"
               placeholder="Search"
               class="input input-bordered input-sm w-full" />
      </td>

    </tr>
    <tr *ngFor="let data of dataList">
      <td *ngFor="let column of columns">
      <ng-container *ngIf="column.cell; else defaultCell">
        <div [innerHTML]="getCellContent(data,column)"
             (click)="column?.handleEvent? column?.handleEvent($event,data,'click'):undefined">
        </div>
      </ng-container>
      <ng-template #defaultCell>
        {{ data[column.key] }}
      </ng-template>
      </td>
    </tr>
    </tbody>
  </table>
</div>
  <div class="flex justify-between items-center mt-4">
    <div class="flex flex-row gap-3">
      <button [disabled]="paginate.currentPage===1" class="btn btn-sm" (click)="paginate.previousPage(paginate.currentPage)">Previous</button>
      <button [disabled]="dataList.length<paginate.itemPerPage" class="btn btn-sm " (click)="paginate.nextPage(paginate.currentPage)">Next</button>
    </div>
    <div>
      <span>Page {{paginate.currentPage}}</span>
    </div>
  </div>
  </ng-container>
</div>
