<div class="sidebar">
  <div class="logo">
<!--    <img ngSrc="./assets/icons/Logo.svg" alt="logo" fill/>-->
  </div>
  <div class="side-content">
    <div class="navigator">
      <ul>
        <li *ngFor="let i of sideBarList" routerLinkActive="active-link"
            [routerLink]="i.url">
          <fa-icon [icon]="i.icon"></fa-icon>
          <span>{{i.label}}</span> </li>
      </ul>
    </div>
    <div  class="logout">
      <ul >
        <li  *ngIf="username" (click)="logout()">
          <fa-icon [icon]="faSignOut"></fa-icon>

          <span>Logout</span>
        </li>
      </ul>
    </div>
  </div>

</div>
